body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: fill;
    background: no-repeat center center scroll;
}

.carousel-caption {
    width: 40rem;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    font-weight: bold;
}
.navbar-nav{
    margin-left: 20rem;
    margin-right: auto;
}

.navbar-nav .nav-link{
    color: white !important;
    font-size: 1rem;
    font-weight: normal;
    transition: color 0.3s ease;
    margin-left: 0.5rem;
    letter-spacing: 2px;
}

h2 {
    color: #333;
}

form, table {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}